
:root {

  --font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  --color-background: #0f0f0f;
  --color-surface: #1e1e1e;
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: #aaa;
  --color-primary: #9D4EDD;
  --color-primary-hover: #B57BFF;
  --color-border: #333;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  --gradient-text: linear-gradient(90deg, #B57BFF, #9D4EDD);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  
  -webkit-text-size-adjust: 100%; 
}

*:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
  border-radius: 4px;
}